* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  margin-bottom: 50px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 30px;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

li {
  margin: 3px 0;
}

a {
  color: #0077d9;
  text-decoration: none;
}

a:visited {
  color: #0077d9;
}