html {
  font-family: sans-serif;
  background-color: #f3f3f3;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

#title {
  text-align: center;
  text-transform: uppercase;
  font-weight:700;
  margin-bottom: 40px;
}

#nav-tabs {
  display: flex;
  justify-content: space-around;
  font-size: 1.35rem;
  font-weight: 500;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 20px;
}

.tab:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tab.active {
  color: #0077d9;
  text-decoration: underline;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.filter-text {
  margin-left: 10px;
}

.filtered {
  display: none;
}

strong {
  font-weight: 700;
  background-color: #0077d9;
  color: #ffffff;
}

.search-group {
  display: none;
}

.search-group.active {
  display: block;
}

.search-block {
  margin-bottom: 60px;
}

.title-block, .contact-name {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}

.title-block .search-type {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  margin-left:20px;
}

.search-criteria {
  margin-left: 30px;
}

.search-criteria.indent {
  margin-left: 60px;
}

.search-criteria b::after {
  content: ":";
}

.contact-block {
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.contact-block .contact-dates {
  display: flex;
}

.contact-block .contact-dates p {
    margin-right: 20px;
}

.contact-block .contact-notes {
    margin-bottom: 20px;
}

.contact-block .contact-dates p strong,
.contact-block .contact-notes strong {
    font-weight: 700;
    color: #000000;
    background-color: transparent;
}

.contact-block .contact-name {
  margin-bottom: 20px;
}

.contact-block .search-block {
  margin-left: 30px;
}

.contact-block .search-block .search-title {
  font-size: 1.5rem;
}

.contact-block .search-block .search-type {
  font-size: 1rem;
}

.search-group .empty {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.search-group .contact-block .empty {
  font-size: 1.5rem;
  margin-left: 30px;
  text-align: left;
}
